body {
    font-family: Arial;
    background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th {
    background-color: #333;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}